
::selection {
  background-color: #3498db;
}
.generalLink:hover,
.bordered:hover,
.darkSection .generalLink,
.accentSection,
.owl-dot:hover span,
.owl-dot.active span,
.owl-controls .owl-nav div:hover,
.slider .owl-dot.active,
.slider.owl-dot:hover,
.logo a .square,
.mainNav .navTabs > li .dropDown li:hover > a,
.mainNav .navTabs > li .dropDown li:hover > button,
.mainNav .navTabs > li:hover > a,
.mainNav .navTabs > li:hover > button,
.mainNav .navTabs .register .formWrapper form button,
.mainNav .navTabs .register .formWrapper form input[type="submit"],
.mainNav .navTabs .login a,
.mainNav .navTabs .login > button,
.mainNav .navTabs .login .opened,
.mainNav .navTabs .login .formWrapper,
.mainNav .navTabs .menuSocial a:hover,
.domainSearchForm .formSearchUl > li:last-child button,
.dd .ddArrow,
.post .postContents .postIcon,
.postSlider .owl-controls .owl-nav div:hover,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li:last-child a:hover,
.pagination > li:first-child a:hover,
.sideSearch button,
.sideSearch input[type="submit"],
.singleComment,
.add-send form button,
.add-send form input[type="submit"],
.modal .close,
.modal .shareBtns,
.testmonialsCarousel3 .owl-controls .owl-nav div:hover,
.testmonials2 .owl-controls .owl-nav div:hover,
.testmonials4 .owl-dot.active span,
.testmonials4 .owl-dot:hover span,
.testmonials4 .owl-dot span:hover,
.bottomFooter .footerSocial .socialNav li a:hover,
.homeSlider_2 .captions .links a,
.formArea .generalBtn,
.formArea input[type="submit"],
.switcher .switcherShowHide,
.switcher .switcherContents header,
.back-to-top,
.mainNav .navTabs .login .formWrapper li h5 i,
.mainNav .navTabs .login .formWrapper form button:hover,
.mainNav .navTabs .login .formWrapper form input[type="submit"]:hover,
.mainNav .navTabs > li .active,
.mainNav .navTabs > li .dropDown li .active{
  background-color: #3498db;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bordered,
.darkSection .generalLink:hover,
.sectionTitle .sectionHeader,
.topContact ul li a:hover,
.logo a .text,
.department .departBody p a,
.department .departBody .title,
.domainSearchForm .formSearchUl > li:first-child input,
.dd .ddTitle .ddTitleText .ddlabel,
.post .postContents .postTitle a,
.add-send form input,
.add-send form textarea,
.add-send .sendMessageForm input:focus,
.add-send .sendMessageForm textarea:focus,
.singleTestmonial .testmonialsBottomContents .userName,
.testmonials2 .testmonialsTopContents blockquote p,
.testmonials2 .testmonialsTopContents blockquote p:before,
.testmonials2 .testmonialsTopContents blockquote p:after,
.testmonials2 .testmonialsBottomContents .userName:hover,
.testmonials3 .testmonialsBottomContents .userWebsite:hover,
.testmonials4 .singleTestmonial .testmonialsTopContents blockquote p,
.topFooter .footerWidget .footerWidgetHeader,
.topFooter .footerWidget .footerLinksList li a:hover,
.topFooter .footerWidget .getInTouchList li span a,
.bottomFooter .copyrights p a:hover,
.mainNav .navTabs .login .formWrapper .register a:hover,
.formArea .generalLink:hover {
  color: #3498db;
}
/* --- 边框  --------------------- */
.bordered,
.bordered:hover,
.owl-dot:hover span,
.owl-dot.active span,
.widget .widgetHeader,
.add-send form input,
.add-send form textarea,
.add-send .sendMessageForm input:focus,
.add-send .sendMessageForm textarea:focus,
.mainNav .navTabs > li .formWrapper form input:focus  {
  border-color: #3498db;
}

.mainNav .navTabs > li .dropDown {
  border-top-color: #3498db;
}
